@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Libre+Barcode+128+Text&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Libre+Barcode+128+Text&family=Nabla&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');







.styleLogIn {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.InputLogin {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}
.styleInput {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
}

.SignUp {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.styleLogo {
    filter: drop-shadow(0 1px 10px orange);
    z-index: auto;
}
.styleLogoH {
    filter: drop-shadow(0 1px 10px white);
}

.containerSignUp {
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.354);
    background-color: rgba(47, 46, 46, 0.266);
}
.header {
    z-index: auto;
    filter: drop-shadow(0 1px 10px black);
}
.styleInsideFooter {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(0 1px 10px rgba(255, 255, 255, 0.723));
}

.styleFooter {
    box-shadow: 0 1px 30px rgba(255, 166, 0, 0.649);
}
.CompagnyLogo:hover {
    filter: drop-shadow(0 1px 5px rgb(255, 119, 0));
    border-color: orange;
}

.UserBox {
    box-shadow: 0 1px 10px red;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(0 1px 10px rgb(255, 0, 0));
    box-shadow: 0 1px 10px red;
}
.Animationtext {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.textinformation {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.742);
}

.sorry:hover {
    font-size: 0;
}
.sorry:hover::after {
   content:attr(data-hover);
   font-size: 20px;
}

.textUser {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-shadow: 0 1px 10px white;
}

.Myaccount {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}